body,p,h1,h2,h3,h4,h5,h6,ol,ul,a{
    margin:0
}
ul,ol{
    padding: 0;
    list-style-type: none;
}
html,body{
    font:14px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
    color: #000;
}
/*--basic--*/
.box{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cl{
    zoom:1;
}
.cl:after{
    content:'';
    display:block;
    clear: both
}
.cff{
    color: #fff;
}
.tac{
    text-align: center;
}
/*--header--*/
.header{
    height:175px;
    background-color: #333;
}
.header h2{
    height:145px;
    line-height: 145px;
}
.logo{
    color: #fff;
    font-size: 40px;
    outline: none;
}
.nav li{
    display: inline-block;
    font-family: "微软雅黑";
}
.nav a{
    display: block;
    padding: 0 50px;
    height:30px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    background-color: #0090FF;
}
/*--文字显示--*/
.list{
    min-height: 400px;
    padding: 40px 0;
}
.list li{
    padding: 15px 0;
}
.list h3{
    padding: 5px 0;
}
.list h3 *{
    transition:all .5s;
}
.list h3:hover i,.list h3:hover a{
    color:#0090FF;
}
.list p{
    margin-top: 5px;
}
/*--demo--*/
.demo{
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0  5px #000;
}
.demo li{
    float: left;
    width: 275px;
    height:205px;
}
.demo a{
    position: absolute;
    width:275px;
    height:205px;
    margin-left: -275px;
    overflow: hidden;
}
.demo div{
    position: absolute;
    width: 275px;
    height:205px; 
    background-color: rgba(0,0,0,.5);
    -webkit-transform:translate(96px,184px) rotate(5deg);
    -moz-transform:translate(96px,184px) rotate(5deg);
    -ms-transform:translate(96px,184px) rotate(5deg);
    transform:translate(96px,184px) rotate(5deg);
    -webkit-transition: all 500ms cubic-bezier(.68,-0.37,.25,1.34); 
       -moz-transition: all 500ms cubic-bezier(.68,-0.37,.25,1.34); 
         -ms-transition: all 500ms cubic-bezier(.68,-0.37,.25,1.34); 
            transition: all 500ms cubic-bezier(.68,-0.37,.25,1.34); /* custom */

    -webkit-transition-timing-function: cubic-bezier(.68,-0.37,.25,1.34); 
       -moz-transition-timing-function: cubic-bezier(.68,-0.37,.25,1.34); 
         -ms-transition-timing-function: cubic-bezier(.68,-0.37,.25,1.34); 
            transition-timing-function: cubic-bezier(.68,-0.37,.25,1.34); /* custom */
    color: #fff;
}
.demo h3{
    padding: 3px 3px 10px;
}
.demo p{
    padding: 5px;
    line-height: 1.5em;
}
.demo a:hover div{
    -webkit-transform:rotate(0);
    -moz-transform:rotate(0);
    -ms-transform:rotate(0);
    transform:rotate(0);
}
.demo img{
    width:275px;
    height:205px;
    vertical-align: middle;
    background: #ddd url(../images/loading.gif) center center no-repeat;
}
.footer{
    height:90px;
    line-height: 90px;
    color: #fff;
    background-color: #333;
}
.loading{
    position: fixed;
    height:100%;
    width: 100%;
    left:0;
    top:0;
    background:url(../images/loading.gif) center center no-repeat;
}
.pagination{
    margin-bottom: 50px;
}
.pagination li{
    display: inline-block;
}
.pagination a{
    display: block;
    padding:5px 10px;
    border: 1px solid #000;
    text-align: center;
    margin-right: 5px;
}
.pagination .active a{
    background-color: #333;
    color: #fff;
}
i{
    padding-left: 5px;
}
