.information p { text-indent:20px; }

.information, .news, .product, .welcomepic { border-right:#060 solid 1px; }


.jdt {
	float:left;
	width:889px;
	height:280px;
	padding:5px;
	overflow:hidden;
	
}

.information {
	float:left;
	width:670px;
	padding:5px;
}
.information .headline{
	width:400px;
	}
.welcome {
	float:left;
	width:670px;
	height:90px;
	padding:5px;
}

.welcomepic {
	float:right;
	height:180px;
	padding:5px;
	width:200px;
}

.product {		
	width:200px;
	height:410px;
	float:right;
	padding:5px;
	margin-top:-170px;
	overflow:hidden;

}
.product ul{
	margin-top:5px;
	}
.product li{
	margin-left:5px;
	}
.product a{
	color:#458000 !important;}
.headline{ width:200px;  
}


.news li {
	margin-top:5px;
	height:20px;
	margin-left:10px;
}

.news{
	width:670px;
	float:left;
	margin-left:5px;
	display:inline;
	padding-left:5px;

	
	}

